<template>
    <section>
        <div class="filter">
            <div class="filter__left">
                <button class="transpose"
                @click="transpose = !transpose"
                :class="{'true': transpose}"
                > 
                    <span class="material-icons-outlined" v-if="!transpose">toggle_off</span> 
                    <span class="material-icons-outlined" v-else>toggle_on</span> 
                    <p>Transpose</p>
                </button>
                <div class="filterBy">
                    <Input :filters="filters" @emitFilters="getSelected"/>
                </div>
                
            </div>
            <div class="filter__right">
                <button title="Download" @click="downloadData">
                    <span class="material-icons-outlined">file_download</span> 
                </button>
                <!-- <button title="Upload" @click="uploadData">
                    <span class="material-icons-outlined">file_upload</span> 
                </button> -->
            </div>
        </div>
        <Tags :filters="filters.filter(filter => filter.checked)" @tag="removeTag($event)" @remove="getRemoveStatus"/>
        
    </section>
</template> 
<script>
import Input from '@/components/csv/FilterInput'
import Tags from '@/components/csv/Tags'
import { watch, ref, onMounted } from 'vue'
 
export default {
    name: "Filter", 
    components: {
        Input, Tags
    },
    props: {
        headers: Array
    },
    setup(props, { emit }) {
        let transpose = ref(false)
        let filter = ref(false)
        // set all filters as false as a default
        let filters = ref([])

        onMounted(() => {
            setFilters()
        })
 
        const setFilters = () => {
            filters.value = props.headers.map((header, index) => {
                return {
                    'id': index,
                    'key': header,
                    'checked': false
                } 
            })
        }

        const getcheckedFilters = (currentValue) => {
            let checked = currentValue.filter(val => val.checked)
            emit('filteredHeaders', checked)
        }

        watch(filters, (currentValue) => {
            if(currentValue) { 
                getcheckedFilters(currentValue)
            }
        }, {deep: true})

        watch(transpose, (currentValue) => {
            emit("transpose", currentValue)
        })

        const removeTag = (tag) => {
            let findFilter = filters.value.find(filter => filter.id === tag.id)
            findFilter.checked = false
        }

        const getSelected = () => {
            getcheckedFilters(filters.value)
        }

        const getRemoveStatus = () => {
            // reset filters 
            [...filters.value].forEach(el => el.checked = false)
        }

        const downloadData = () => {
            emit('download', true)
        }

        const uploadData = () => {
            emit('upload', true)
        }


        return {
            setFilters, filters, transpose, filter, removeTag, getSelected, getRemoveStatus, downloadData, uploadData
        }
    },
}
</script>
<style lang="scss" scoped>
    .filter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        &__left {
            display: flex;
            align-items: center;
        }

        .material-icons {
            font-size: 25px !important;
        }
    }

    .transpose, .filterBy {
        display: flex;
        align-items: center;
        font-size: 15px;    
        padding: 10px;
        letter-spacing: 1px; 

        p {
            margin-left: 10px;
            font-weight: 600;
        }
    }

    .filterBy {
        &__header {
            display: flex;
            align-items: center;
        }
    }

    .transpose {

        &.true {
            color: #0033CB;  
        }
    }

    .activeFilter {
        color: #0033CB;  
    }

    .filterBy {
        margin-left: 5px;
    }
</style>