<template>
    <div class="filterInput">
        <input type="text" v-model="searchQuery" @input="dropdown = true" placeholder="Search by header"
        @keydown="selectRow"
        >

        <div class="filterInput__list" v-if="dropdown">
            <button
            v-for="filter in resultQuery"
            :key="filter.id"
            ref="filterRef"
            :class="[{'disabled': filter.checked}, {'selected': focus == filter.id}]"
            @click="selectFilter(filter.id)"
            >{{filter.key}}</button>
        </div>
    </div>
</template>
<script>
import { ref, computed } from 'vue'
export default {
    props: {
        filters: Array
    },

    setup(props, { emit }) {
        let searchQuery = ref('')
        let dropdown = ref(false)

        const resultQuery  = computed(() => {
            // return search list | filter list while typing
            if (searchQuery.value) {
                return props.filters.filter(filter => {
                    return filter.key.toLowerCase().includes(searchQuery.value.toLowerCase())
                })
            } else {
                return props.filters
            }

        })

        const selectFilter = (id) => {
            let findFilter = props.filters.find(filter => filter.id === id)
            findFilter.checked = true

            emit('emitFilters', props.filters)
            dropdown.value = false
            searchQuery.value = ''
        }

        let focus = ref(null)

        const selectRow = (e) => {
            const key = e.keyCode
            switch (key) {
                case 38:
                    if(focus.value === null) {
                        focus.value = 0 
                    } else if(focus.value > 0) {
                        focus.value--
                    }
                break;
                case 40:
                    if(focus.value === null) {
                        focus.value = 0
                    } else if(focus.value < resultQuery.value.length - 1) {
                        focus.value++
                    }
                break;
                case 13:
                    selectFilter(focus.value)
                break; 
            }
        }

        return { selectFilter, searchQuery, resultQuery, dropdown, selectRow, focus}
    }
}
</script>
<style lang="scss" scoped>
    .selected {
        background: #f5f5f5;
    }
    .filterInput {
        margin-left: 20px;
        position: relative;

        &__list {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: absolute;
            background: white;
            z-index: 11;
            box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, .1);
            width: 100%;
            top: 40px;
            border-radius: 10px;

            button{
                padding: 10px 10px;
                transition: .3s;
                width: 100%;
                text-align: left;
                font-weight: 600;

                &:hover {
                    background: #f5f5f5;
                }

                &.disabled {
                    pointer-events: none;
                    color: #ddd;
                }
            }
        }

        input {
            border-radius: 20px;
            padding: 10px 10px 10px 20px;
            border: none; 
            font-family: 'Work Sans', sans-serif;
            box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,.1);

            &:focus {
                outline: #0033CB;
            }
        }
    }
</style>