<template>
  <div class="tableWrapper">
      <div class="indexes">
          <div
          class="indexes__item"
          v-for="(index, i) in indexes"
          :key="i"
          @mouseover="hoverRow(i)"
          @mouseleave="hovered.rows = []"
          @click="selectRow(i)"
          >{{index}}</div>
      </div>
    <table @paste="onPaste">
      <thead>
        <th v-for="(header, index) in headers" 
        :key="index"
        @mouseover="hoverColumn(index)"
        @mouseleave="hovered.cols = []"
        @click="selectHeader(index)"
        >{{ header }}</th>
      </thead>
      <tbody>
        <div
          class="bluebox"
          v-if="bluebox.display && selectedData.rows.length"
          @click="clickBluebox"
          @mouseover="mouseOverBlueBox"
          :style="[
            { height: bluebox.height },
            { top: bluebox.top }, 
            { left: bluebox.left },
            { width: bluebox.width },
          ]"
        >
          <input
            type="text"
            ref="inputRef"
            class="bluebox__input"
            v-model="inputValue"
            @input="debounceInput"
            @keydown="moveArrows"
            v-if="
              selectedData.cols.length === 1 && selectedData.rows.length === 1
            "
          />
          <button
            class="bluebox__btn"
            @mousedown="startDragBtn"
            @mouseup="stopDragBtn"
          ></button>
        </div>
        <tr
          v-for="(row, rowIndex) in rows"
          :class="[selectedData.rows.includes(rowIndex) ? 'selectedRows' : '', hovered.rows.includes(rowIndex) ? 'hovered' : '']"
          class="rows"
          :key="rowIndex"
          :row="rowIndex"
        >
          <td
            class="cols"
            v-for="(col, colIndex) in row"
            :key="colIndex"
            :col="colIndex"
            :row="rowIndex"
            @click="clickCell(rowIndex, colIndex)"
            @mousedown="startDragging(rowIndex, colIndex)"
            @mouseover="selectCells($event)"
            @mouseup="stopDragging"
            :class="[
              selectedData.rows.includes(rowIndex) &&
              selectedData.cols.includes(colIndex)
                ? 'selectedCell'
                : '', hovered.cols.includes(colIndex) ? 'hovered': '' 
            ]"
          >
            {{ col.toLocaleString('en-GB') }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
import { ref, reactive, watch, onMounted, onBeforeUnmount } from "vue";
import { bottomRight, bottomLeft, topLeft, topRight } from '../../tableHelpers/directions'
import { draggingRows, draggingCols } from '../../tableHelpers/selectCell'
import { copy, paste } from '../../tableHelpers/tableEvents'

export default {
  props: {
    headers: Array,
    rows: Array,
    indexes: Array
  },
  setup(props, { emit }) {
    // watch rows changes
    watch(() => props.headers, (first) => {
      if(first) {
        selectedData.rows = []
        selectedData.cols = []
        resetBlueBox()
      }
    });

    let startSelection = ref(false);
    // first selection: save the state of  first selection
    let firstSelection = reactive({
      rows: [],
      cols: [],
    });

    let hovered = reactive({
      rows: [],
      cols: []
    })

    const hoverColumn = (i) => {
        hovered.cols = []
        hovered.cols.push(i)
    }

    const hoverRow = (i) => {
        hovered.rows = []
        hovered.rows.push(i)
    }

    const selectHeader = (col) => {
      selectedData.cols = []
      selectedData.rows = []

      for (let i = 0; i < props.rows.length; i++) {
        selectedData.rows.push(i)
        selectedData.cols.push(col)
      } 

      selectedData.cols = [...new Set(selectedData.cols)]
      firstSelection.rows = selectedData.rows
      firstSelection.cols = selectedData.cols

      setTimeout(() => {
        setBlueBox()
      }, 100);
      
    }


    // selectedData - non - reactive first selection cells
    let selectedData = reactive({
      rows: [],
      cols: [],
    });

    // table behaviour
    const resetBlueBox = () => {
      bluebox.top = null;
      bluebox.left = null;
      bluebox.display = false;
    };


    // mousedown: start dragging to select cells
    const startDragging = (rowIndex, colIndex) => {
      // check if bluebox already exists -> if yes then reset values
      resetBlueBox();
      startSelection.value = true;

      firstSelection.rows = [rowIndex];
      firstSelection.cols = [colIndex];

      // when clicking the cell set the first selection
      selectedData.rows = JSON.parse(JSON.stringify(firstSelection.rows));
      selectedData.cols = JSON.parse(JSON.stringify(firstSelection.cols));

      firstSelectionValues.value = [];
    };

    // dragging bluebox
    let drag = ref(false);
    const startDragBtn = () => {
      drag.value = true;
    };

    const stopDragBtn = () => {
      drag.value = false;
    };

    // when dragging with bluebox btn get the second selecetion
    let secondSelectionValues = ref([]);

    // mousemove: start dragging cells
    const selectCells = (e) => {
      // do drag => select data across the table by dragging
      if (startSelection.value || drag.value) {
        Array.prototype.insert = function (index, item) {
          this.splice(index, 0, item);
        };

        let { rows, cols } = selectedData;

        let row = Number(e.target.getAttribute("row"));
        let col = Number(e.target.getAttribute("col"));

        
        // get indexes of dragged rows
        draggingRows(row, firstSelection, selectedData)
        
        // get indexes of dragged cells
        draggingCols(col, firstSelection, selectedData)


        //  if rows number in array are not incremental -> fill missing rows in case users drags too quickly
        if (!isIncreasing(rows)) {
          fillMissing(rows); 
        }

        // if cols number in array are not incremental -> fill missing cols in case users drags too quickly
        if (!isIncreasing(cols)) {
          fillMissing(cols);
        }

        if (drag.value) {
          secondSelectionValues.value = [];
          rows.forEach((row) => {
            let find_row = props.rows[row];
            let temp = [];
            cols.forEach((col) => {
              temp.push(find_row[col]);
            });

            secondSelectionValues.value.push(temp);
          });


          // draggin directions - select cells (add | remove) from array by dragging in different directions
          if (row >= firstSelection.rows[0]) {
            if (col >= firstSelection.cols[0]) {
              bottomRight(secondSelectionValues, firstSelColsLength, firstSelRowsLenth) // RIGHT, BOTTOM-RIGHT, Down
            }

            if (col < firstSelection.cols[0]) {
              bottomLeft(secondSelectionValues, firstSelection, selectedData, firstSelRowsLenth, firstSelColsLength); // BOTTOM-LEFT, LEFT
            }
          }

          if (row < firstSelection.rows[0]) {
            if (col <= firstSelection.cols[firstSelection.cols.length - 1]) {
              topLeft(secondSelectionValues, firstSelection, selectedData, firstSelColsLength, firstSelRowsLenth); // TOP-LEFT, LEFT
            }

            if (col > firstSelection.cols[firstSelection.cols.length - 1]) {
              topRight(secondSelectionValues, firstSelection, selectedData, firstSelColsLength, firstSelRowsLenth); // TOP-RIGHT, RIGHT
            }
          }
        }
      }
    };


    let firstSelectionValues = ref([]); // array with values of the first selection
    // watch first selectionValue to get:
    // length of selected rows in first selection
    // length of selected columns in first selection
    // I will need it to drag blue box btn in dirrent dirrection
    let firstSelRowsLenth = ref(null);
    let firstSelColsLength = ref(null);

    // watch first selection and get new array with corresponding values
    watch(firstSelection, (currentValue) => {
      let { rows, cols } = currentValue;
      firstSelectionValues.value = [];

      rows.forEach((row) => {
        let find_row = props.rows[row];
        let temp = [];

        cols.forEach((col) => {
          temp.push(find_row[col]);
        });

        firstSelectionValues.value.push(temp);
      });

      if (firstSelectionValues.value.length) {
        firstSelRowsLenth.value = firstSelectionValues.value.length; // length of selected rows in first selection
        firstSelColsLength.value = firstSelectionValues.value[0].length; // length of selected columns in first selection
      }
    });

    let updateRows = ref([]); // copy rows array, non reactive

    watch(secondSelectionValues, (currentValue) => {
      // if dagging luebox btn fill the second selection
      if (drag.value) {
        let rows = JSON.parse(JSON.stringify(props.rows));

        selectedData.rows.forEach((row, row_index) => {
          let find_row = rows[row];

          selectedData.cols.forEach((col, col_index) => {
            find_row[col] = currentValue[row_index][col_index];
          });
        });

        updateRows.value = [...rows];
      }
    });


    // mouseover bluebox
    const mouseOverBlueBox = () => {
      if (drag.value) {
        // when dragging we hit the bluebox => reset to the default stage
        selectedData.rows = [...firstSelection.rows];
        selectedData.cols = [...firstSelection.cols];
      }
    };

    const isIncreasing = (xs) => {
      // check if following numbers in the array are incremented by 1
      let prev, cur;

      for (let i = 0; i < xs.length; i++) {
        cur = xs[i];
        if (i && cur !== prev && cur !== prev + 1) return false;
        prev = cur;
      }

      return true;
    };

    const fillMissing = (option) => {
      // option = rows | cols
      // func to fill missing rows and cols in case user is dragging too quickly
      let last = option[option.length - 1];
      let first = option[0];

      let temp = [];
      let difference_last_first = last - first;

      for (let i = 0; i <= difference_last_first; i++) {
        temp.push(first + i);
      }

      selectedData[option] = [...temp];
    };

    // mouseup: stop dragging
    const stopDragging = () => {
      startSelection.value = false;
      drag.value = false;

      // get the final first selection
      firstSelection.rows = JSON.parse(JSON.stringify(selectedData.rows));
      firstSelection.cols = JSON.parse(JSON.stringify(selectedData.cols));

      // set blue box dimentions
      setBlueBox();
 
      // update table when drag with 'bluebox' is over
      if (!drag.value && updateRows.value.length) {
        emit("updateRows", updateRows.value);
        updateRows.value = [] 
      }
    };

    // BLUEBOX
    let bluebox = reactive({
      display: false,
      width: null,
      height: null,
      top: null,
      left: null,
    });

    // watch firstselection values and set the bluebox
    const setBlueBox = () => {
      bluebox.display = true;

      let rows = [...new Set(document.getElementsByClassName("rows"))];

      if (rows.length) {
        let selectedRows = rows.filter((x) => {
          if (x.classList.contains("selectedRows")) return x;
        });

        // get selected cols within selected row
        let selectedCols = selectedRows.map((row) => [
          ...new Set(row.children),
        ]);
        let selectedColsInRow = selectedCols[0].filter((col) => {
          if (col.classList.contains("selectedCell")) return col;
        });

        // bluebox width
        let width = selectedColsInRow
          .map((col) => col.offsetWidth)
          .reduce((sum, x) => sum + x);
        bluebox.width = `${width}px`;

        // bluebox height
        let height = selectedRows
          .map((row) => row.offsetHeight)
          .reduce((sum, x) => sum + x);
        bluebox.height = `${height}px`;

        // blubox top
        bluebox.top = `${selectedRows[0].offsetTop}px`;

        // bluebox left
        bluebox.left = `${selectedColsInRow[0].offsetLeft}px`;
      }
    };

    const inputRef = ref(null);
    let inputValue = ref("");
    // set focus on input when cell is selected and set the v-model for the input
    const clickCell = (rowIndex, colIndex) => {
      if(inputRef.value) {
        inputRef.value.focus();
        inputValue.value = props.rows[rowIndex][colIndex];
  
        selectedData.rows = [rowIndex];
        selectedData.cols = [colIndex];
        setBlueBox();
      }
    };

    const clickBluebox = () => {
      resetBlueBox();
      selectedData.rows = [];
      selectedData.cols = [];
    };

    const debounce = (callback, delay) => {
      let timeout;
      return function () {
        clearTimeout(timeout);
        timeout = setTimeout(callback, delay);
      };
    };

    const debounceInput = debounce(() => {
      let input = Number(inputValue.value);

      const { rows, cols } = selectedData;
      let table = props.rows;
      if (input) {
        table[rows[0]][cols[0]] = input;
        emit("updateRows", table);
      }
    }, 100);

    const moveArrows = (e) => {
      let code = e.keyCode;
      let { rows, cols } = selectedData;

      switch (code) {
        case 39:
        case 9: {
          // Right or Tab
          e.preventDefault();
          cols = cols.map(() => parseInt(cols[0]++) + 1);
          break;
        }
        case 37: {
          // Left
          cols = cols.map(() => parseInt(cols[0]--) - 1);
          break;
        }
        case 40:
        case 13: {
          // Down or Enter
          rows = rows.map(() => parseInt(rows[0]++) + 1);
          break;
        }
        case 38: {
          // Up
          rows = rows.map(() => parseInt(rows[0]--) - 1);
          break;
        }
        case 8 || 46: {
          // backspace or Del
          // delete func
          break;
        }
      }

      firstSelection.rows = [...selectedData.rows];
      firstSelection.cols = [...selectedData.cols];

      const codes_arr = [39, 9, 37, 40, 13, 38];
      if (codes_arr.includes(code)) {
        inputValue.value = props.rows[selectedData.rows[0]][selectedData.cols[0]]
        setTimeout(() => {
          // wait until DOM gets new selectedData
          setBlueBox();
        }, 1);
      }
    };

    // copy paste func
    onMounted(() => document.addEventListener("keydown", ctrlAction));
    onBeforeUnmount(() => document.removeEventListener("keydown", ctrlAction));

    const ctrlAction = (e) => {
      const code = e.keyCode;
      if (code === 67) {
        doEvent('copy')
      } else if( code === 8 || code === 46) {
          deleteSelected()
      }
    };

    const doEvent = (e) => {
      if(e === 'copy') {
        copy(props, selectedData)
      }
    }

    const onPaste = async () => {
      let updateRows = await paste(props, selectedData, inputValue)
      emit("updateRows", updateRows);
    };

    const selectRow = (row) => {
      selectedData.rows = []
      selectedData.cols = []

      let cols = props.rows[0].length;

      for (let i = 0; i < cols; i++) {
        selectedData.cols.push(i);
      }

      selectedData.rows.push(row)
      firstSelection.rows = selectedData.rows
      firstSelection.cols = selectedData.cols

      setTimeout(() => {
        setBlueBox()
      }, 100);
    }

    const deleteSelected = () => {
      // clear cells with backspace or delete btn 
      const { rows, cols } = selectedData

      let rowsUpdate = JSON.parse(JSON.stringify(props.rows));

      [...rows].forEach(row => {
        [...cols].forEach(col => {
            let find_row = rowsUpdate[parseInt(row)]
            find_row[parseInt(col)] = ''
        })
      })

      emit("updateRows", rowsUpdate);
      resetBlueBox()
      selectedData.rows = []
      selectedData.cols = []

    }
 
    return {
      startDragging,
      resetBlueBox,
      selectCells,
      stopDragging,
      selectedData,
      bluebox,
      startDragBtn,
      stopDragBtn,
      mouseOverBlueBox,
      clickCell,
      inputRef,
      inputValue,
      debounceInput,
      clickBluebox,
      moveArrows,
      onPaste,
      hoverColumn,
      hoverRow,
      hovered,
      selectHeader,
      selectRow, 
      deleteSelected
    };
  },
};
</script>

<style lang="scss" scoped>
.hovered {
  background: #F8F9F9; 
}
.tableWrapper {
  max-height: 700px;
  // overflow: auto;
  max-width: 100vw;
  margin-top: 40px;
  position: relative;
  display: flex;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #acb8c1;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
    border-radius: 10px;
  }
}
table {
  width: 100%;
  position: relative;
  border-collapse: collapse;
  border-spacing: 0;

  thead {
    background: #f5f5f5c2;

    th {
      font-size: 15px;
      padding: 15px;

      &:hover {
        cursor: pointer;
      }

      &:first-child {
        border-top-left-radius: 20px;
      }

      &:last-child {
        border-top-right-radius: 20px !important;
      }
    }
  }

  tbody {
    position: relative;
  }

  tr {
    height: 50px;
  }

  td {
    text-align: center;
    user-select: none;
    border: 0.5px solid #f5f5f5;
    padding: 15px 0;
  }
}
.selectedCell {
  background: rgb(235, 245, 251);
}

.bluebox {
  position: absolute;
  z-index: 1;
  border: 1px solid #3498db;

  &__input {
    background: #ebf5fb;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    border: none;
    text-align: center;
    color: transparent;
    text-shadow: 0px 0px 0px #000;
    font-size: 17px;

    &:focus {
      border: none;
      outline: none;
    }
  }

  &__btn {
    height: 9px;
    width: 9px;
    background: #3498db;
    border: 1px solid white;
    position: absolute;
    right: -5px;
    bottom: -6px;
    border-radius: 2px;
    padding: 0;

    &:hover {
      cursor: crosshair;
    }
  }
}

.indexes {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background: #f5f5f5;
    position: sticky;
    left: 0;
    z-index: 1111;

  &__item {
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 13px;
    justify-content: center;
    font-weight: 600;
    transition: 0.3s;
    white-space: nowrap; 

    &:first-child {
        border-top-left-radius: 20px;
    }

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
    span {
      white-space: nowrap; 
      padding: 0 10px;
    }

    &.active {
      background: #dddddd57;
      font-weight: 600;
    }
  }
}

</style>