<template>
    <div class="tags">
        <div class="tag"
            v-for="(tag, index) in filters"
            :key="index"
            >{{tag.key}} 
            <button @click="removeTag(tag)">
                <span class="material-icons-outlined">close</span>
            </button>
        </div>
        <button @click="removeAll" v-if="filters.length">
            <span class="material-icons-outlined">delete</span>
        </button>
    </div>
</template>
<script>
export default {
    props: ['filters'],
    setup(_, { emit }) {

        const removeTag = (tag) => {
            emit('tag', tag)
        }

        const removeAll = () => { 
            emit('remove', true)
        }
        
        return {
            removeTag, removeAll
        } 
    }
}
</script>
<style lang="scss">
    .tags {
        display: flex;
        margin-bottom: 40px;
    }

    .tag {
        background: #f5f5f5;
        margin: 0 5px;
        padding: 5px 10px 5px 20px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        font-weight: 600;

        button {
            transition: .3s;

            &:hover {
                opacity: .4;
            }
        }

        .material-icons-outlined {
            margin-left: 5px;
            font-size: 18px;
            position: relative;
            top: 2px;
        }
    }
</style>