<template>
    <div class="upload gray" @drop="addFile" @dragover.prevent="dragOver" @dragleave.prevent="dragLeave">
        <div class="upload__input uploadBox">
            <input class="uploadBox__file" type="file" ref="fileRef" name="files[]" @change="onChange" accept=".csv"/>
            <div class="uploadBox__icon" >
                <span class="material-icons"> cloud_upload </span>
            </div>
            <div class="uploadBox__txt" v-if="!file && error == ''">
                <div>
                    <strong>Choose a file</strong> or drag it here.
                </div>
            </div>
            <div style="margin-top:20px; font-size: 20px; z-index: 1; max-width: 750px;"> 
                <div v-if="error != ''">
                    <strong>{{error}}</strong>
                    <!-- <strong v-if="wrong_headers.length > 0">: Headers which do not match with the database are rejected.</strong> -->
                    <!-- <ul v-if="wrong_headers.length > 0" style="margin-top: 10px; ">
                        <li v-for="(header, index) in wrong_headers" :key="index">
                            {{header}}
                        </li>
                    </ul> -->
                </div>
                <!-- <button class="okBtn" @click="okBtn" v-if="wrong_headers.length > 0">OK</button> -->
            </div>
        </div>
        <button class="upload--close" @click="$emit('close', true)">
            <span class="material-icons">close</span>
        </button>
    </div>
</template>
<script>
import { ref } from 'vue'
export default {
    setup(_, { emit }) {
        let file = ref(null)
        let error = ref('')
        let fileRef = ref(null)

       

        const readFile = (file) => {
            emit('uploaded', file)
        }

        const onChange = (e) => {
            const file = e.target.files[0];
            const reader = new FileReader();
            
            reader.onload = function() {
                readFile(reader.result)
            }

            if(file) {
                reader.readAsText(file);
            }
        }

        const dragOver = (e) => {
            e.target.parentNode.classList.remove('darkGray')
            e.target.parentNode.classList.add('gray')
        }

        const addFile = (e) => {
            file.value = null

            let files = e.dataTransfer.files;


            [...files].forEach(x => {
                file.value = x
            }); 

        }

        const dragLeave = (e) => {
            e.target.parentNode.classList.remove('darkGray')
            e.target.parentNode.classList.add('gray')
        }

        return {
            file, 
            error,
            addFile,
            dragOver,
            dragLeave,
            readFile,
            fileRef,
            onChange,
        }
    },
}
</script>
<style lang="scss">
    .upload {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 999999;
        border-radius: 10px;

        &--close {
            position: absolute;
            top: 20px;
            right: 20px;
        }

        &__input {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            height: 100%;
        }
    }

    .gray {
        background: rgba(231, 240, 244, .8)
    }

    .darkGray {
        background: rgba(231, 240, 244, .9)
    }


    .uploadBox {
        &__icon {
            .material-icons {
                font-size: 45px !important;
                color: #A7BEC7 !important; 
            }
        }

        &__txt {
            margin-top: 20px;
            color: #183844;
            font-weight: 400;
            font-size: 16px;

            strong {
                font-weight: 600;
            }
        }
        &__file {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            opacity: 0;

            &:hover {
                cursor: pointer;
            }
        }
    }
</style>