<template>
    <div class="table">
        <Filter :headers="table.headers" 
        @filteredHeaders="getFilteredHeaders" 
        @transpose="getTranspose($event)"
        @download="getDownloadStatus($event)"
        @upload="getUploadStatus($event)"
        />
        <div class="table__wrapper">
            <Table 
            :headers="headers" 
            :rows="rows" 
            :indexes="indexes"
            @updateRows="updateTableRows($event)"/>

            <UploadForm 
            v-if="upload"
            @close="upload = false"
            @uploaded="uploadedData"
            />
        </div>
    </div>
</template>
<script>
import Filter from '@/components/csv/Filter'
import Table from '@/components/csv/Table'
import UploadForm from '@/components/csv/UploadForm'
import { ref, watch } from 'vue'

export default {
    name: "Csv",
    components: {
        Filter, Table, UploadForm
    }, 
    props: {
        table: Object 
    },
    setup(props, { emit }) { 
        let headers = ref([])
        let rows = ref([])
        let indexes = ref([])
        let transposed = ref(false)


        const transpose = (array) => {
            return array[0].map((r, i) => array.map(c => c[i]))
        }

        const getTranspose = (e) => {
            transposed.value = e

        }

        const generateIndexes = (option) => {
            // fill indexes
            if(option === 'headers') {
                return  [...Array(props.table.headers)].map((item) => item)[0]
            } else {
                let rows = []
                transposed.value ? rows = transpose(props.table.rows)[0] : rows = props.table.rows
                return  [...Array(rows.length)].map((_, i) => i + 1) 
            }
        }

        let filters = ref([])

        // get the coorect headers and indexes depends on transpose and filter
        const setHeadersIndexes = () => {
            if(filters.value.length === 0) {
                if(transposed.value) {
                    headers.value = generateIndexes('rows')
                    indexes.value = generateIndexes('headers')
                } else {
                    // no filtered - no transpose
                    headers.value = generateIndexes('headers')
                    indexes.value = generateIndexes('rows')
                }
            } else {
                let ids = filters.value.filter(x => x.checked).map(z => z.id)
                let tempHeaders = []

                ids.forEach(id => {
                    tempHeaders.push(generateIndexes('headers')[id])
                })

                if(transposed.value) {     
                    headers.value = generateIndexes('rows')
                    indexes.value = tempHeaders
                } else {
                    indexes.value = generateIndexes('rows')
                    headers.value = tempHeaders
                }

            }
        }

        watch(transposed, () => {
            rows.value = transpose(rows.value)
            setHeadersIndexes()
        })


        // get filtered (checked) to set default table or filter data rows
        const getFilteredHeaders = (e) => {
            filters.value = e
            e.length === 0 ? setDefaultTable() : filterTable(e)
            setHeadersIndexes() 
        }
 
        // if there is no filter applied get the default table
        const setDefaultTable = () => {
            rows.value = props.table.rows
            // console.log()

            if(transposed.value){
                rows.value = transpose(rows.value) 
            }
                        
        }

        const filterTable = () => {
            // if e.length > 0
            let ids = filters.value.filter(x => x.checked).map(z => z.id)

            if(transposed.value) {
                let tempRows = []
                let tempHeaders = [] 

                ids.forEach(id => {
                    tempHeaders.push(props.table.headers[id])
                    tempRows.push(transpose(props.table.rows)[id]) 
                })
                rows.value = [...tempRows]

            } else {
                let transposeAr = transpose(props.table.rows) // get cols as rows
                let tempCols = [] 
                let tempHeaders = [] 

                ids.forEach(id => {
                    tempCols.push(transposeAr[id])
                    tempHeaders.push(props.table.headers[id])
                })

                rows.value = transpose(tempCols)
                headers.value = tempHeaders
            }
        }

        const updateTableRows = (e) => {
            // update table after setting up the values - distinguish transpose and filter
            if(e.length) {
                rows.value = e

                if(filters.value.length === 0) {
                    transposed.value ? emit('table', transpose(e)) : emit('table', e)
                } 
                else {
                    let tempRows = props.table.rows
                    let ids = filters.value.filter(x => x.checked).map(z => z.id)
                    
                    if(transposed.value) {
                        tempRows = transpose(tempRows)

                        ids.forEach((id, index) => {
                           tempRows[id] = e[index]
                        })

                        emit('table', transpose(tempRows))
                        
                    } else {
                        // update when not transposed but filtered
                        //get the copy of table rows and based on the id update the correct row
                        tempRows = transpose(tempRows)
                        
                        ids.forEach((id, index) => {
                            tempRows[id] = transpose(rows.value)[index]
                        })
                        emit('table', transpose(tempRows))
                    }
                }
            }
        }

        const getDownloadStatus = () => {
            let csvHeaders = headers.value
            let data;
            
            if(transposed.value) { 
                data = [...rows.value].map((x, i)=> [indexes.value[i], ...x])

                // if table is transposed add blank plaholder at the begining of the headers
                csvHeaders = ['', ...csvHeaders]
            } else {
                data = rows.value
            }

            
            let csv = csvHeaders.toString()+'\n';
         
            data.forEach(function(row) {
                csv += row.join(',');
                csv += "\n";
            });

            let hiddenElement = document.createElement('a');
            hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv);
            hiddenElement.target = '_blank';
            hiddenElement.download = 'table.csv';
            hiddenElement.click();
        }

        let upload = ref(false)

        const getUploadStatus = () => {
            upload.value = true
        }

        
        const csvToArray = (str, delimiter = ",") => {
            // https://sebhastian.com/javascript-csv-to-array/

            // slice from start of text to the first \n index
            // use split to create an array from string by delimiter
            const headers = str.slice(0, str.indexOf("\n")).split(delimiter);

            // slice from \n index + 1 to the end of the text
            // use split to create an array of each csv value row
            const rows = str.slice(str.indexOf("\n") + 1).split("\n");

            // Map the rows
            // split values from each row into an array
            // use headers.reduce to create an object
            // object properties derived from headers:values
            // the object passed as an element of the array
            const arr = rows.map(function (row) {
                const values = row.split(delimiter);
                const el = headers.reduce(function (object, header, index) {
                object[header] = values[index];
                return object;
                }, {});
                return el;
            });

            // return the array
            return arr;
        }

        const uploadedData = (e) => {
            csvToArray(e)
        }

        return {
            transposed,
            indexes, 
            headers, 
            rows, 
            upload, 
            getFilteredHeaders, 
            updateTableRows, 
            setDefaultTable,
            getTranspose, 
            generateIndexes,
            setHeadersIndexes,
            getDownloadStatus,
            getUploadStatus,
            uploadedData
        }

    },
}
</script>
<style lang="scss" scoped>
    .table {
        position: relative;

        &__wrapper {
            position: relative; 
        }
    }
</style>