<template>
    <div class="doc">
        <h1>Table functionality:</h1>
        <ul>
            <li>Filter columns</li>
            <li>Download table data as csv</li>
            <li>Transpose table</li>
            <li>Select rows and cells across the table</li>
            <li>Update the value in the single cell</li>
            <li>When the cells are selected drag and set the values across the table horizontally and vertically</li>
            <li>Copy (Ctri + c) and paste (Ctrl + v) to Excel ad from the Excel file</li>
            <li>Copy and paste within the table: single single or multiple cells</li>
            <li>Keyboard navigation: up, down, right, left, Tab</li>
            <li>Clear selected cells with Backspace or Delete button</li>
        </ul>
    </div>
</template>
<style lang="scss">
    .doc {

        li {
            margin: 10px 0;
            font-size: 14px;
            font-weight: 500;
        }
    }
</style>