<template>
    <div class="header">
        <h1>CSV table</h1>
        <a href="https://gitlab.com/kasiap19/kptable" target="_blank">
            Gitlab
        </a>
    </div>
</template>
<style lang="scss">
    .header {
        background: #1B1A28;
        margin-bottom: 20px;
        color: #ccc;
        font-family: 'Varela Round', sans-serif;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 100px;

        h1 {
            margin: 0;
            font-size: 22px;
        }

        a {
            text-decoration: none;
            color: #fff;
        }
    }
</style>