<template>
  <div>
    <Header /> 
    <main>
      <p>
        Component was written for the current empoyee purposes. It's been using across the entire app as a substiturion of the existing library: 
        <a href="https://handsontable.com/">Handsontable</a>.
      </p>
      <Csv :table="table"
      @table="updatetable"
      />
      <div class="wrapper">
        <Doc />
      </div>
    </main>
  </div>
</template>

<script>
import Csv from '@/components/csv'
import Header from '@/components/Header'
import Doc from '@/components/Doc'
import { reactive } from 'vue'

export default {
  name: 'App', 
  components: {
    Csv, Header, Doc
  },
  setup() {
    const table = reactive({
      headers: [
          'Header 1', 'Header 2', 'Header 3', 'Header 4', 'Header 5', 'Header 6'
      ],
      rows: [
          [10, 20, 30, 40, 50, 0],
          [100, 200, 300, 400, 500, 0],
          [10000, 20000, 30000, 40000, 50000, 0],
          [100, 200, 300, 400, 500, 0],
      ],
    })

    const updatetable = (e) => {
      //update rows 
      table.rows = e
    }

    return { table, updatetable }

  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Work Sans', sans-serif;
  color: #2c3e50;
}

main {
  padding: 0 100px;

  p {
    font-size: 13px;
  }
}

button {
  border: none;
  background: none;
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;

  &:hover {
    cursor: pointer;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  padding: 20px 0;
  margin: 20px 0;

  h1 {
      color: #85929e;
      font-size: 16px;
      font-weight: bold;
      margin: 0;
  }
}
</style>
